* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(0,150,136);
    background: -webkit-linear-gradient(rgba(0,150,136,1) 25%, rgba(218,219,211,1) 25%);
    background: -o-linear-gradient(rgba(0,150,136,1) 25%, rgba(218,219,211,1) 25%);
    background: linear-gradient(rgba(0,150,136,1) 25%, rgba(218,219,211,1) 25%);
}

.boolzapp-container {
    width: 85vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    height: 10%;
    width 100%;
    display: flex;
    background: #ededed;
}
/* left header */
.header-left {
    display: flex;
    width: 35%;
    height: 100%;
    border-right: 1px solid #919191;
}

.immagine-mio-profilo, .immagine-contatto, .immagine-interlocutore {
    display: flex;
    width: 25%;
    align-items: center;
}

.immagine-mio-profilo img, .immagine-contatto img, .immagine-interlocutore img {
    height: 70%;
    width: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.cta-icons {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cta-icons i {
    font-size: 30px;
    color: #919191;
    margin-right: 20px;
}


/* right header */
.header-right {
    display: flex;
    height: 100%;
    width: 65%;
}

.immagine-interlocutore {
    width: 15%;
}

.dati-interlocutore {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dati-interlocutore p {
    color: #919191;
}

.cta-icons-right {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta-icons-right i {
    font-size: 30px;
    color: #919191;
    margin-right: 20px;
}
/* Main left */
.main {
    height: 90%;
    width: 100%;
    display: flex;
}
.main-left{
    width: 35%;
    height: 100%;
    background: white;
    border-right: 1px solid #919191;
}

.cta-notifiche {
    height: 10%;
    width: 100%;
    display: flex;
    background: #9de1fe;
}

.notifiche-icon {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifiche-icon span {
    background: #f5fcff;
    border-radius: 50%;
    padding: 20px;
}

.notifiche-icon i {
    font-size: 20px;
    color: #9de1fe;
}

.attiva-notifiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attiva-notifiche h2 {
    font-size: 15px;
}

.searchbar {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.searchbar i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #919191;
}

.searchbar input {
    width: 90%;
    border: 0;
    font-size: 12px;
}

.contatti {
    height: 85%;
}

.contatto {
    height: 15%;
    width: 100%;
    display: flex;
}

.immagine-contatto img {
    height: 60%;
}

.info-contatto {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ultimo-messaggio {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ultimo-messaggio small, .info-contatto p {
    color: #919191;
}

.contatto.active {
    background: #ededed;
}

/* Main right */

.main-right{
    width: 65%;
    height: 100%;
    float: right;
    margin: 0 auto;
    background-image: url("../img/sfondo.png");
}

.conversazione {
    width: 100%;
    height: 90%;
    position: relative;
    overflow-y: scroll;
}

.cta-messaggi {
    padding-top: 50px;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 5%;
    display: none;
}

.messaggio {
    background: white;
    width: 20%;
    border-radius: 10%;
    margin-top: 5px;
    padding: 10px 10px 5px 10px;
}

.inviato {
    background: #dcf8c6;
    float: right;
}

.messaggio small {
    float: right;
    color: #919191;
}

.footer {
    height: 10%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer i {
    font-size: 30px;
    color: #919191;
}

.footer input {
    width: 75%;
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    color: #919191;
}

.cta-messaggi.active {
    display: block;
}
